html , body , #root{
  height: 100%;
}
.w_container{
  width: 100%;
  height: 100%;
  background-color: rgb(119, 119, 119);
}
.container{
  margin: 0px auto;
  width: 1000px;
  height: 100%;
  background-color: #FFF;
}
p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
dl {
	list-style: none;
}
dd {
	list-style: none; margin: 0px; padding: 0px;
}
dt {
	list-style: none; margin: 0px; padding: 0px;
}
li {
	list-style: none; margin: 0px; padding: 0px;
}
